<!--Main CSS-->

body {
	background-color:rgba(134, 102, 164, 0.2);
	margin:0;
        padding:0;
    }
#elementscontainer {
	display:block;
	width: 322px;
	height: 360px;
	border-style:solid;
	border-width:0px;
	border-color:#FFFFFF;
}

.globloc {
	position: absolute;
	left: 50%;
	margin: 100px -161px;
}

	#line-divider-long1 {
		position:relative;
		top:5px;
		width:322px;
		height:1px;
		background-color:rgb(134,102,164);
	}
		
	#line-divider-long2 {
		position:relative;
		top:-5px;
		width:322px;
		height:1px;
		background-color:rgb(134,102,164);
	}
		
		h2 {
			position:relative;
		    	text-align:left;
		    	display:inline;
		    	padding-top:0px;
		    	padding-right:5px;
		    	font-family:Lato;
		    	font-size:16px;
		    	font-style:italic;
		    	font-weight:300;
		    	color: #EF4020;
		}
		
		a:link {
			color: #EF4020;
			text-decoration: none;
	        	-webkit-transition: 0.5s ease-out;
    	    		-moz-transition: 0.5s ease-out;
	        	-o-transition: 0.5s ease-out;
	        	transition: 0.5s ease-out;
		}
		
		a:visited {
		    color: #EF4020;
		    text-decoration:none;
		}
			
		a:hover, a:focus {
	        color:#E59291;
		}
		
	   	h1 {
	       		position: relative;
	       		margin-top: 5px;
	       		margin-bottom:0px;
	       		text-align:left;
	       		display: block;
	       		font-family: Lato;
	       		font-size: 30px;
	       		font-weight:900;
	       		color:#EF4020;
		}
		
		#subelcont {
		    width:322px;
		    height:291px;
		    border-style:solid;
		    border-width:0px;
		    border-color:#FFFF;
		    
		}
		
		#locloc{
		    position:absolute;
		    left: 50%;
		    margin: 150px -160px;
		}
			h3 {
		        	position:relative;
		        	margin-top:5px;
		        	margin-left:114px;
		        	margin-bottom:0px;
		        	display:block;
		        	font-family:Lato;
		        	font-size:18px;
		        	font-style:none;
		        	font-weight:300;
		        	color:#EF4020;
		        	font-style:italic;
		    	}
			
		        p {
		            	position:relative;
			        margin-top: 8px;
			        margin-left:114px;
			        display:block;
			        text-align: left;
			        text-justify:inter-word;
			        font-family: Lato;
			        font-size:12px;
			        font-weight:400;
			        font-style:italic;
			        color:black;
		        }
		
		        #span1 {
		            	text-decoration:underline;
		        }
		
	    	    	#span2 {
		            	text-decoration:none;
		            	color:#EF4020;
		            	font-weight:800;
		        }
		
		        img {
		            	position:relative;
		            	top:-888px;
		            	left:8px;
		            	margin-top:0px;
		            	margin-bottom:13px;
		            	display:block;
	                	width:87px;
	                	height:87px;
	            	}
	        
	                #line-divider-short1 {
		                position:relative;
		                top:-305px;
		                left:0px;
		                height:291px;
		                width:1px;
		                background-color:rgb(134,102,164);
		        }
	        
	                #line-divider-short2 {
		                position:relative;
		                top:-596px;
		                left:105px;
		                height:291px;
		                width:1px;
		                background-color:rgb(134,102,164);
		            }
		
		 h4 {
            		position:relative;
            		transform:rotate(-90deg);
            		margin-top:-342px; 
            		margin-left:-350px;
		    	display:block;
	        	font-family:Lato;
	        	font-size:11px;
	        	color:black;
	    	}
	
	    	h4 span {
	        	color:#EF4020;
	        	font-weight:800;
	    	}
