<!-- Main CSS -->
<style = "text/css">

body {
}

#main {
	position:relative;
	left: 1%;
	right: 1%;
	width: 550px;
}
    	
h1 {
	position: relative;
	left:2.5%;
	margin:1px auto;
	display:inline;
	text-align:left;
	font-family: Karla;
	font-size:24pt;
	font-weight:900;
	color:#0f0f0f;
}
	
h1 span {
	font-weight:300;
}
    
h2 {
        position:relative;
	left:2.5%;
        margin:6px auto;
	padding-right:8px;
	display:inline;
        text-align:center;
	font-family:Karla;
	font-size:16pt;
	font-weight:300;
	color:0f0f0f;
}

a:link {
	color: 0f0f0f;
	text-decoration: none;
	-webkit-transition: 0.3s ease-out;
    	-moz-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}
	
a:visited {
	color: #0f0f0f;
	text-decoration:none;
}

h2 a:hover, a:focus {
	color: #d0240d;
}
	    
h3 {
	position:relative;
	left:2.5%;
	display:block;
	margin-right:auto;
	margin-left:auto;
	margin-top: 2px;
	margin-bottom:3px;
    	font-family:Karla;
	font-size:12pt;
	font-weight:900;
	color:#0f0f0f;
}

h3 a:hover, a:focus {
	color: #d0240d;
}

li {
	position:relative;
	left:2.5%;
	display:block;
	margin-right:auto;
	margin-left:auto;
	margin-top: 2px;
	margin-bottom:3px;
	word-wrap: break-word;
	overflow-wrap: break-word;
    	font-family:Karla;
	font-size:10pt;
	font-weight:300;
	color:#0f0f0f;
}

li span {
	font-style: italic;
}

p {
	position:relative;
	left:2.5%;
	display:block;
	margin-right:auto;
	margin-left:auto;
	margin-top: 2px;
	margin-bottom:3px;
	word-wrap: break-word;
	overflow-wrap: break-word;
    	font-family:Karla;
	font-size:10pt;
	font-weight:300;
	color:#0f0f0f;
}
p span { 
	font-weight:900;
}

p span2 {
	font-style: italic;
}

</style>
